{% extends 'blog/base.html' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
   {{message}}
</div>
{% endfor %}
{% endif %}
{% block content %}
<br><br><br><br><br><br>
    
       <h2>You have been logged out </h2>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an Account?
                <a href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
    

    
{% endblock %}
